@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
#features1-5 .mbr-section__col .mbr-header__text {
  text-align: center;
  color: #28324e;
}
#features1-5 P {
  color: #000000;
}
#features1-4r .mbr-section__col .mbr-header__text {
  text-align: center;
}
#features1-4s .mbr-section__col .mbr-header__text {
  text-align: center;
  color: #28324e;
}
#features1-4s P {
  color: #000000;
}
#features1-25 .mbr-section__col .mbr-header__text {
  color: #fac51c;
  font-size: 18px;
}
#features1-25 P {
  color: #ffffff;
}
#features1-25 B {
  text-align: left;
}
#msg-box1-8 .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box1-8 .mbr-article {
  color: #fff;
}
#msg-box1-8 .btn {
  font-size: 14px;
}
#form2-b .mbr-header__text {
  color: #ffffff;
}
#footer1-f P {
  color: #2c82c9;
  text-align: left;
}
#dropdown-menu-2btn-21 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-21 .nav .link,
#dropdown-menu-2btn-21 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-21 .navbar,
#dropdown-menu-2btn-21 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-21 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-21 .dropdown-menu a:hover,
#dropdown-menu-2btn-21 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-21 .navbar-toggler {
  color: #fac51c;
}
#contacts3-e P {
  color: #f7da64;
}
#contacts3-e B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-e STRONG {
  color: #27aae0;
  font-size: 21px;
}
#social-buttons2-9u .mbr-header__text {
  color: #faaf40;
}
#msg-box5-88 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-88 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-88 .mbr-article {
  color: #ffffff;
}
#msg-box4-92 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-92 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-92 .mbr-article {
  color: #ffffff;
}
#msg-box4-92 .mbr-article DIV {
  text-align: left;
}
#msg-box4-92 .mbr-article H3 {
  color: #faaf40;
}
#msg-box4-92 .mbr-article H4 {
  color: #f7da64;
}
#features1-9t .mbr-section__col .mbr-header__text {
  color: #fac51c;
  font-size: 18px;
}
#features1-9t P {
  color: #ffffff;
}
#features1-9t B {
  text-align: left;
}
#contacts3-e P {
  color: #f7da64;
}
#contacts3-e B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-e STRONG {
  color: #27aae0;
  font-size: 21px;
}
#msg-box4-9s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9s .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7 .nav .link,
#dropdown-menu-2btn-7 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-7 .navbar,
#dropdown-menu-2btn-7 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7 .dropdown-menu a:hover,
#dropdown-menu-2btn-7 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-7 .navbar-toggler {
  color: #fac51c;
}
#footer1-8m P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-93 .mbr-header__text {
  color: #faaf40;
}

#contacts1-p P {
  color: #ffffff;
}
#contacts1-p STRONG {
  color: #faaf40;
}
#contacts1-p B {
  color: #7ac673;
}
#contacts1-p SPAN {
  color: #efefef;
}
#contacts1-p UL {
  color: #ffffff;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #fac51c;
}
#footer1-r P {
  color: #2c82c9;
  text-align: left;
}
#form1-s .mbr-header__text {
  color: #fac51c;
  font-size: 25px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#form2-13 .mbr-header__text {
  color: #ffffff;
}
#social-buttons2-9v .mbr-header__text {
  color: #faaf40;
}
#dropdown-menu-2btn-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-18 .nav .link,
#dropdown-menu-2btn-18 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-18 .navbar,
#dropdown-menu-2btn-18 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-18 .dropdown-menu a:hover,
#dropdown-menu-2btn-18 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-18 .navbar-toggler {
  color: #fac51c;
}
#footer1-19 P {
  color: #2c82c9;
  text-align: left;
}
#contacts3-8l P {
  color: #f7da64;
}
#contacts3-8l B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-8l STRONG {
  color: #27aae0;
  font-size: 21px;
}
#social-buttons2-9w .mbr-header__text {
  color: #faaf40;
}
#msg-box4-1v .mbr-header__text {
  color: #553982;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-article P {
  color: #000000;
}
#msg-box4-1w .mbr-header__text {
  color: #553982;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#msg-box4-1w .mbr-article P {
  color: #000000;
}
#msg-box4-1x .mbr-header__text {
  color: #553982;
}
#msg-box4-1x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1x .mbr-article {
  color: #ffffff;
}
#msg-box4-1x .mbr-article P {
  color: #000000;
}
#msg-box4-1y .mbr-header__text {
  color: #553982;
}
#msg-box4-1y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1y .mbr-article {
  color: #ffffff;
}
#msg-box4-1y .mbr-article P {
  color: #000000;
}
#msg-box4-1z .mbr-header__text {
  color: #553982;
}
#msg-box4-1z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1z .mbr-article {
  color: #ffffff;
}
#msg-box4-1z .mbr-article P {
  color: #000000;
}
#msg-box4-20 .mbr-header__text {
  color: #553982;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-article P {
  color: #000000;
}
#msg-box4-aj .mbr-header__text {
  color: #553982;
}
#msg-box4-aj .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-aj .mbr-article {
  color: #ffffff;
}
#msg-box4-aj .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-21 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-21 .nav .link,
#dropdown-menu-2btn-21 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-21 .navbar,
#dropdown-menu-2btn-21 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-21 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-21 .dropdown-menu a:hover,
#dropdown-menu-2btn-21 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-21 .navbar-toggler {
  color: #fac51c;
}
#contacts3-22 P {
  color: #f7da64;
}
#contacts3-22 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-22 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-23 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-9x .mbr-header__text {
  color: #faaf40;
}
#msg-box4-29 .mbr-header__text {
  color: #553982;
}
#msg-box4-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-29 .mbr-article {
  color: #ffffff;
}
#msg-box4-29 .mbr-article P {
  color: #000000;
}
#msg-box4-2a .mbr-header__text {
  color: #553982;
}
#msg-box4-2a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2a .mbr-article {
  color: #ffffff;
}
#msg-box4-2a .mbr-article P {
  color: #000000;
}
#msg-box4-2b .mbr-header__text {
  color: #553982;
}
#msg-box4-2b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2b .mbr-article {
  color: #ffffff;
}
#msg-box4-2b .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-2f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2f .nav .link,
#dropdown-menu-2btn-2f .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-2f .navbar,
#dropdown-menu-2btn-2f .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-2f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2f .dropdown-menu a:hover,
#dropdown-menu-2btn-2f .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-2f .navbar-toggler {
  color: #fac51c;
}
#contacts3-2g P {
  color: #f7da64;
}
#contacts3-2g B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-2g STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-2h P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-9y .mbr-header__text {
  color: #faaf40;
}
#msg-box4-2j .mbr-header__text {
  color: #553982;
}
#msg-box4-2j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2j .mbr-article {
  color: #ffffff;
}
#msg-box4-2j .mbr-article P {
  color: #000000;
}
#msg-box4-2k .mbr-header__text {
  color: #553982;
}
#msg-box4-2k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2k .mbr-article {
  color: #ffffff;
}
#msg-box4-2k .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-2p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2p .nav .link,
#dropdown-menu-2btn-2p .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-2p .navbar,
#dropdown-menu-2btn-2p .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-2p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2p .dropdown-menu a:hover,
#dropdown-menu-2btn-2p .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-2p .navbar-toggler {
  color: #fac51c;
}
#contacts3-2q P {
  color: #f7da64;
}
#contacts3-2q B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-2q STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-2r P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-9z .mbr-header__text {
  color: #faaf40;
}
#msg-box4-2t .mbr-header__text {
  color: #553982;
}
#msg-box4-2t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2t .mbr-article {
  color: #ffffff;
}
#msg-box4-2t .mbr-article P {
  color: #000000;
}
#msg-box4-2u .mbr-header__text {
  color: #553982;
}
#msg-box4-2u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2u .mbr-article {
  color: #ffffff;
}
#msg-box4-2u .mbr-article P {
  color: #000000;
}
#msg-box4-2v .mbr-header__text {
  color: #553982;
}
#msg-box4-2v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2v .mbr-article {
  color: #ffffff;
}
#msg-box4-2v .mbr-article P {
  color: #000000;
}
#msg-box4-2w .mbr-header__text {
  color: #553982;
}
#msg-box4-2w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2w .mbr-article {
  color: #ffffff;
}
#msg-box4-2w .mbr-article P {
  color: #000000;
}
#msg-box4-2x .mbr-header__text {
  color: #553982;
}
#msg-box4-2x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2x .mbr-article {
  color: #ffffff;
}
#msg-box4-2x .mbr-article P {
  color: #000000;
}
#msg-box4-2y .mbr-header__text {
  color: #553982;
}
#msg-box4-2y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2y .mbr-article {
  color: #ffffff;
}
#msg-box4-2y .mbr-article P {
  color: #000000;
}
#msg-box4-8d .mbr-header__text {
  color: #553982;
}
#msg-box4-8d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8d .mbr-article {
  color: #ffffff;
}
#msg-box4-8d .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-2z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2z .nav .link,
#dropdown-menu-2btn-2z .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-2z .navbar,
#dropdown-menu-2btn-2z .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-2z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2z .dropdown-menu a:hover,
#dropdown-menu-2btn-2z .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-2z .navbar-toggler {
  color: #fac51c;
}
#contacts3-30 P {
  color: #f7da64;
}
#contacts3-30 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-30 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-31 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a0 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-8z .mbr-header__text {
  color: #28324e;
}
#msg-box4-8z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8z .mbr-article {
  color: #ffffff;
}
#msg-box4-8z .mbr-article P {
  color: #000000;
}
#msg-box4-3d .mbr-header__text {
  color: #553982;
}
#msg-box4-3d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3d .mbr-article {
  color: #ffffff;
}
#msg-box4-3d .mbr-article P {
  color: #000000;
}
#msg-box4-3e .mbr-header__text {
  color: #553982;
}
#msg-box4-3e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3e .mbr-article {
  color: #ffffff;
}
#msg-box4-3e .mbr-article P {
  color: #000000;
}
#msg-box4-3f .mbr-header__text {
  color: #553982;
}
#msg-box4-3f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3f .mbr-article {
  color: #ffffff;
}
#msg-box4-3f .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-3j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3j .nav .link,
#dropdown-menu-2btn-3j .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-3j .navbar,
#dropdown-menu-2btn-3j .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-3j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3j .dropdown-menu a:hover,
#dropdown-menu-2btn-3j .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-3j .navbar-toggler {
  color: #fac51c;
}
#contacts3-3k P {
  color: #f7da64;
}
#contacts3-3k B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-3k STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-3l P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a1 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-3n .mbr-header__text {
  color: #553982;
}
#msg-box4-3n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3n .mbr-article {
  color: #ffffff;
}
#msg-box4-3n .mbr-article P {
  color: #000000;
}
#msg-box4-3o .mbr-header__text {
  color: #553982;
}
#msg-box4-3o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3o .mbr-article {
  color: #ffffff;
}
#msg-box4-3o .mbr-article P {
  color: #000000;
}
#msg-box4-3p .mbr-header__text {
  color: #553982;
}
#msg-box4-3p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3p .mbr-article {
  color: #ffffff;
}
#msg-box4-3p .mbr-article P {
  color: #000000;
}
#msg-box4-3q .mbr-header__text {
  color: #553982;
}
#msg-box4-3q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3q .mbr-article {
  color: #ffffff;
}
#msg-box4-3q .mbr-article P {
  color: #000000;
}
#msg-box4-3r .mbr-header__text {
  color: #553982;
}
#msg-box4-3r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3r .mbr-article {
  color: #ffffff;
}
#msg-box4-3r .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-3t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3t .nav .link,
#dropdown-menu-2btn-3t .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-3t .navbar,
#dropdown-menu-2btn-3t .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-3t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3t .dropdown-menu a:hover,
#dropdown-menu-2btn-3t .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-3t .navbar-toggler {
  color: #fac51c;
}
#contacts3-3u P {
  color: #f7da64;
}
#contacts3-3u B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-3u STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-3v P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a2 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-3x .mbr-header__text {
  color: #553982;
}
#msg-box4-3x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3x .mbr-article {
  color: #ffffff;
}
#msg-box4-3x .mbr-article P {
  color: #000000;
}
#msg-box4-3y .mbr-header__text {
  color: #553982;
}
#msg-box4-3y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3y .mbr-article {
  color: #ffffff;
}
#msg-box4-3y .mbr-article P {
  color: #000000;
}
#msg-box4-3z .mbr-header__text {
  color: #553982;
}
#msg-box4-3z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3z .mbr-article {
  color: #ffffff;
}
#msg-box4-3z .mbr-article P {
  color: #000000;
}
#msg-box4-40 .mbr-header__text {
  color: #553982;
}
#msg-box4-40 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-40 .mbr-article {
  color: #ffffff;
}
#msg-box4-40 .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-43 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-43 .nav .link,
#dropdown-menu-2btn-43 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-43 .navbar,
#dropdown-menu-2btn-43 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-43 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-43 .dropdown-menu a:hover,
#dropdown-menu-2btn-43 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-43 .navbar-toggler {
  color: #fac51c;
}
#contacts3-44 P {
  color: #f7da64;
}
#contacts3-44 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-44 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-45 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a3 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-47 .mbr-header__text {
  color: #553982;
}
#msg-box4-47 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-47 .mbr-article {
  color: #ffffff;
}
#msg-box4-47 .mbr-article P {
  color: #000000;
}
#msg-box4-48 .mbr-header__text {
  color: #553982;
}
#msg-box4-48 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-48 .mbr-article {
  color: #ffffff;
}
#msg-box4-48 .mbr-article P {
  color: #000000;
}
#msg-box4-49 .mbr-header__text {
  color: #553982;
}
#msg-box4-49 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-49 .mbr-article {
  color: #ffffff;
}
#msg-box4-49 .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-4d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4d .nav .link,
#dropdown-menu-2btn-4d .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-4d .navbar,
#dropdown-menu-2btn-4d .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-4d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4d .dropdown-menu a:hover,
#dropdown-menu-2btn-4d .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-4d .navbar-toggler {
  color: #fac51c;
}
#contacts3-4e P {
  color: #f7da64;
}
#contacts3-4e B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-4e STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-4f P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a4 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-4h .mbr-header__text {
  color: #553982;
}
#msg-box4-4h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4h .mbr-article {
  color: #ffffff;
}
#msg-box4-4h .mbr-article P {
  color: #000000;
}
#msg-box4-4i .mbr-header__text {
  color: #553982;
}
#msg-box4-4i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4i .mbr-article {
  color: #ffffff;
}
#msg-box4-4i .mbr-article P {
  color: #000000;
}
#msg-box4-4j .mbr-header__text {
  color: #553982;
}
#msg-box4-4j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4j .mbr-article {
  color: #ffffff;
}
#msg-box4-4j .mbr-article P {
  color: #000000;
}
#msg-box4-4k .mbr-header__text {
  color: #553982;
}
#msg-box4-4k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4k .mbr-article {
  color: #ffffff;
}
#msg-box4-4k .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-4n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4n .nav .link,
#dropdown-menu-2btn-4n .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-4n .navbar,
#dropdown-menu-2btn-4n .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-4n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4n .dropdown-menu a:hover,
#dropdown-menu-2btn-4n .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-4n .navbar-toggler {
  color: #fac51c;
}
#contacts3-4o P {
  color: #f7da64;
}
#contacts3-4o B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-4o STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-4p P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a5 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-4t .mbr-header__text {
  color: #553982;
}
#msg-box4-4t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4t .mbr-article {
  color: #ffffff;
}
#msg-box4-4t .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-4z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4z .nav .link,
#dropdown-menu-2btn-4z .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-4z .navbar,
#dropdown-menu-2btn-4z .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-4z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4z .dropdown-menu a:hover,
#dropdown-menu-2btn-4z .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-4z .navbar-toggler {
  color: #fac51c;
}
#contacts3-50 P {
  color: #f7da64;
}
#contacts3-50 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-50 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-51 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a6 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-53 .mbr-header__text {
  color: #553982;
}
#msg-box4-53 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-53 .mbr-article {
  color: #ffffff;
}
#msg-box4-53 .mbr-article P {
  color: #000000;
}
#msg-box4-54 .mbr-header__text {
  color: #553982;
}
#msg-box4-54 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-54 .mbr-article {
  color: #ffffff;
}
#msg-box4-54 .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-59 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-59 .nav .link,
#dropdown-menu-2btn-59 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-59 .navbar,
#dropdown-menu-2btn-59 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-59 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-59 .dropdown-menu a:hover,
#dropdown-menu-2btn-59 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-59 .navbar-toggler {
  color: #fac51c;
}
#contacts3-5a P {
  color: #f7da64;
}
#contacts3-5a B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-5a STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-5b P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a7 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-5d .mbr-header__text {
  color: #553982;
}
#msg-box4-5d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5d .mbr-article {
  color: #ffffff;
}
#msg-box4-5d .mbr-article P {
  color: #000000;
}
#msg-box4-5e .mbr-header__text {
  color: #553982;
}
#msg-box4-5e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5e .mbr-article {
  color: #ffffff;
}
#msg-box4-5e .mbr-article P {
  color: #000000;
}
#msg-box4-5f .mbr-header__text {
  color: #553982;
}
#msg-box4-5f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5f .mbr-article {
  color: #ffffff;
}
#msg-box4-5f .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-5j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5j .nav .link,
#dropdown-menu-2btn-5j .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-5j .navbar,
#dropdown-menu-2btn-5j .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-5j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5j .dropdown-menu a:hover,
#dropdown-menu-2btn-5j .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-5j .navbar-toggler {
  color: #fac51c;
}
#contacts3-5k P {
  color: #f7da64;
}
#contacts3-5k B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-5k STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-5l P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a8 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-5z .mbr-header__text {
  color: #28324e;
}
#msg-box4-5z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5z .mbr-article {
  color: #ffffff;
}
#msg-box4-5z .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-65 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-65 .nav .link,
#dropdown-menu-2btn-65 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-65 .navbar,
#dropdown-menu-2btn-65 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-65 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-65 .dropdown-menu a:hover,
#dropdown-menu-2btn-65 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-65 .navbar-toggler {
  color: #fac51c;
}
#contacts3-66 P {
  color: #f7da64;
}
#contacts3-66 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-66 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-67 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-a9 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-69 .mbr-header__text {
  color: #28324e;
}
#msg-box4-69 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-69 .mbr-article {
  color: #ffffff;
}
#msg-box4-69 .mbr-article P {
  color: #000000;
}
#features1-8t P {
  color: #000000;
}
#dropdown-menu-2btn-6f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6f .nav .link,
#dropdown-menu-2btn-6f .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-6f .navbar,
#dropdown-menu-2btn-6f .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-6f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6f .dropdown-menu a:hover,
#dropdown-menu-2btn-6f .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-6f .navbar-toggler {
  color: #fac51c;
}
#contacts3-6g P {
  color: #f7da64;
}
#contacts3-6g B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-6g STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-6h P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-aa .mbr-header__text {
  color: #faaf40;
}
#msg-box4-6j .mbr-header__text {
  color: #28324e;
}
#msg-box4-6j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6j .mbr-article {
  color: #ffffff;
}
#msg-box4-6j .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-6p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6p .nav .link,
#dropdown-menu-2btn-6p .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-6p .navbar,
#dropdown-menu-2btn-6p .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-6p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6p .dropdown-menu a:hover,
#dropdown-menu-2btn-6p .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-6p .navbar-toggler {
  color: #fac51c;
}
#contacts3-6q P {
  color: #f7da64;
}
#contacts3-6q B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-6q STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-6r P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ab .mbr-header__text {
  color: #faaf40;
}
#msg-box4-6t .mbr-header__text {
  color: #28324e;
}
#msg-box4-6t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6t .mbr-article {
  color: #ffffff;
}
#msg-box4-6t .mbr-article P {
  color: #000000;
}
#msg-box4-6u .mbr-header__text {
  color: #553982;
}
#msg-box4-6u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6u .mbr-article {
  color: #ffffff;
}
#msg-box4-6u .mbr-article P {
  color: #000000;
}
#msg-box4-6v .mbr-header__text {
  color: #553982;
}
#msg-box4-6v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6v .mbr-article {
  color: #ffffff;
}
#msg-box4-6v .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-6z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6z .nav .link,
#dropdown-menu-2btn-6z .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-6z .navbar,
#dropdown-menu-2btn-6z .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-6z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6z .dropdown-menu a:hover,
#dropdown-menu-2btn-6z .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-6z .navbar-toggler {
  color: #fac51c;
}
#contacts3-70 P {
  color: #f7da64;
}
#contacts3-70 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-70 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-71 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ac .mbr-header__text {
  color: #faaf40;
}
#msg-box4-8s .mbr-header__text {
  color: #28324e;
}
#msg-box4-8s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8s .mbr-article {
  color: #ffffff;
}
#msg-box4-8s .mbr-article P {
  color: #000000;
}
#msg-box4-73 .mbr-header__text {
  color: #553982;
  text-align: center;
}
#msg-box4-73 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-73 .mbr-article {
  color: #ffffff;
}
#msg-box4-73 .mbr-article P {
  color: #000000;
}
#msg-box4-73 .mbr-article B {
  color: #000000;
}
#msg-box4-73 .mbr-article BLOCKQUOTE {
  color: #000000;
}
#msg-box4-8o .mbr-header__text {
  color: #553982;
  text-align: left;
}
#msg-box4-8o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8o .mbr-article {
  color: #ffffff;
}
#msg-box4-8o .mbr-article P {
  color: #000000;
}
#msg-box4-78 .mbr-header__text {
  color: #553982;
  text-align: left;
}
#msg-box4-78 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-78 .mbr-article {
  color: #ffffff;
}
#msg-box4-78 .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-79 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-79 .nav .link,
#dropdown-menu-2btn-79 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-79 .navbar,
#dropdown-menu-2btn-79 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-79 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-79 .dropdown-menu a:hover,
#dropdown-menu-2btn-79 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-79 .navbar-toggler {
  color: #fac51c;
}
#contacts3-7a P {
  color: #f7da64;
}
#contacts3-7a B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-7a STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-7b P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ad .mbr-header__text {
  color: #faaf40;
}
#msg-box4-7d .mbr-header__text {
  color: #553982;
}
#msg-box4-7d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7d .mbr-article {
  color: #ffffff;
}
#msg-box4-7d .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-7j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7j .nav .link,
#dropdown-menu-2btn-7j .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-7j .navbar,
#dropdown-menu-2btn-7j .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-7j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7j .dropdown-menu a:hover,
#dropdown-menu-2btn-7j .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-7j .navbar-toggler {
  color: #fac51c;
}
#contacts3-7k P {
  color: #f7da64;
}
#contacts3-7k B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-7k STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-7l P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ae .mbr-header__text {
  color: #faaf40;
}
#msg-box4-7n .mbr-header__text {
  color: #553982;
}
#msg-box4-7n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7n .mbr-article {
  color: #ffffff;
}
#msg-box4-7n .mbr-article P {
  color: #000000;
}
#msg-box4-7o .mbr-header__text {
  color: #553982;
}
#msg-box4-7o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7o .mbr-article {
  color: #ffffff;
}
#msg-box4-7o .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-7t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-7t .nav .link,
#dropdown-menu-2btn-7t .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-7t .navbar,
#dropdown-menu-2btn-7t .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-7t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-7t .dropdown-menu a:hover,
#dropdown-menu-2btn-7t .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-7t .navbar-toggler {
  color: #fac51c;
}
#contacts3-7u P {
  color: #f7da64;
}
#contacts3-7u B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-7u STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-7v P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-af .mbr-header__text {
  color: #faaf40;
}
#msg-box4-33 .mbr-header__text {
  color: #553982;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-article P {
  color: #000000;
}
#msg-box4-34 .mbr-header__text {
  color: #553982;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box4-34 .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-39 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-39 .nav .link,
#dropdown-menu-2btn-39 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-39 .navbar,
#dropdown-menu-2btn-39 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-39 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-39 .dropdown-menu a:hover,
#dropdown-menu-2btn-39 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-39 .navbar-toggler {
  color: #fac51c;
}
#contacts3-3a P {
  color: #f7da64;
}
#contacts3-3a B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-3a STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-3b P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ag .mbr-header__text {
  color: #faaf40;
}
#msg-box4-7x .mbr-header__text {
  color: #553982;
}
#msg-box4-7x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7x .mbr-article {
  color: #ffffff;
}
#msg-box4-7x .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-83 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-83 .nav .link,
#dropdown-menu-2btn-83 .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-83 .navbar,
#dropdown-menu-2btn-83 .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-83 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-83 .dropdown-menu a:hover,
#dropdown-menu-2btn-83 .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-83 .navbar-toggler {
  color: #fac51c;
}
#contacts3-84 P {
  color: #f7da64;
}
#contacts3-84 B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-84 STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-85 P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ah .mbr-header__text {
  color: #faaf40;
}
#msg-box4-8e .mbr-header__text {
  color: #28324e;
}
#msg-box4-8e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-8e .mbr-article {
  color: #ffffff;
}
#msg-box4-8e .mbr-article P {
  color: #000000;
}
#dropdown-menu-2btn-8k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-8k .nav .link,
#dropdown-menu-2btn-8k .dropdown-item {
  font-size: 1em;
  color: #fac51c;
}
#dropdown-menu-2btn-8k .navbar,
#dropdown-menu-2btn-8k .dropdown-menu {
  background: #28324e;
}
#dropdown-menu-2btn-8k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-8k .dropdown-menu a:hover,
#dropdown-menu-2btn-8k .dropdown-menu a:focus {
  background: #212941;
}
#dropdown-menu-2btn-8k .navbar-toggler {
  color: #fac51c;
}
#contacts3-8l P {
  color: #f7da64;
}
#contacts3-8l B {
  color: #27aae0;
  font-size: 21px;
}
#contacts3-8l STRONG {
  color: #27aae0;
  font-size: 21px;
}
#footer1-8m P {
  color: #2c82c9;
  text-align: left;
}
#social-buttons2-ai .mbr-header__text {
  color: #faaf40;
}
